<h1><%= @dish.name %></h1>
 <p>Chef: <%= @dish.chef.name %></p>
<section class ='ingredients'>
  <ol>
  <% @dish.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
  </ol>
</section>
<h2>Total calories: <%= @dish.total_calories %></h2>
